%h4
  Completed imports
%table.table
  %thead
    %tr
      %th Title
      %th Processed
      %th Errors
      %th Started
      %th Completed
      %th Actions
  %tbody
    - @completed_imports.each do |import|
      %tr
        %td
          = import.title
        %td
          = import.processed
        %td
          = import.errors_count
        %td
          = import.started_at
        %td
          = import.completed_at
        %td
          Delete

