%h4
  Completed imports
%table.table#completed-imports
  %thead
    %tr
      %th Title
      %th Processed
      %th Errors
      %th Duration
      %th Completed
      %th
  %tbody
    - @completed_imports.each do |import|
      %tr
        %td= link_to import.title, import_path(import)
        %td= import.processed
        %td= import.errors_count
        %td= import.duration
        %td= import.completed_at
        %td= render partial: 'actions', locals: {import: import}


