%h4
  Completed imports
%table.table#completed-imports
  %thead
    %tr
      %th Title
      %th Processed
      %th Errors
      %th Duration
      %th Completed
      %th
  %tbody
    - @completed_imports.each do |import|
      %tr
        %td= import.title
        %td= import.processed
        %td= import.errors_count
        %td= import.duration
        %td= import.completed_at
        %td
          = link_to "Edit", edit_import_path(import), class: 'btn btn-success'
          = link_to "Delete", import_path(import), class: 'btn btn-danger', data: { confirm: 'Are you sure?' }, method: :delete

