%h4
  Started imports
%table.table
  %thead
    %tr
      %th Title
      %th Total
      %th Progress
      %th Errors
      %th Started
      %th
  %tbody
    - @started_imports.each do |import|
      %tr
        %td= link_to import.title, import_path(import)
        %td= import.total_count
        %td= import.progress
        %td= import.errors
        %td= import.started_at
        %td{align: 'right'}= render partial: 'actions', locals: {import: import}


