%h4
  Started imports
%table.table
  %thead
    %tr
      %th Title
      %th Total
      %th Progress
      %th Errors
      %th Started
  %tbody
    - @started_imports.each do |import|
      %tr
        %td
          = import.title
        %td
          = import.total_count
        %td
          = import.percentage
        %td
          = import.errors
        %td
          = import.started_at

